* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  height: 1200px;
  font-family: sans-serif;
  color: #5D6063;;
}

nav {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 20px;
}

a:link,
a:visited {
  color: #5D6063;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.dropdown-logo:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 5px;

  position: absolute;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu li {
  list-style: none;
  margin: 10px;
}


.dropdownbtn {
  border: none;
  background-color: transparent;
}

.leochau {
  display: flex;
  justify-content: center;
  padding: 70px 0 70px 0;
}

h1 {
  font-size: 50px;
}

.photo-grid-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.active-slide {
  display: block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

h2 {
  display: flex;
  justify-content: center;
  padding: 30px;
}

footer {
  width: 100%;
  padding: 40px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.social li {
  list-style: none;
  padding: 5px;
}

.photo-grid-container img {
  max-height: 700px;
}
